# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Problem faced: For cursor movement, first used useState to track the position of cursor but it gave jumpy vibe bcz of the rendering of the component on every state change.
#Solution: used useMotionValue hook of framer motion
